.container {
  padding: 0px;
}

body {
  font-family: 'Rosa Sans', sans-serif;
  color: #000000;
  font-size: 0.938rem;
  line-height: 1.5;
  margin: 10px 0 0 0 ;
}


.page-padding {
  overflow: visible;
  padding-right: 50px;
  padding-left: 50px;
}

/* Header */
.header{
  display: flex;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}

.header-logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header-nav {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
}

.header-nav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  font-size: 17px;
}

.header-nav a:hover {
  background-color: #ddd;
  color: black;
}

.header-nav a.active {
  background-color: #fede3e;
  color: black;
}

/* Main */

.hero {
  background-color: #f8f7f5;
  padding: 10px 50px 0 50px;
}

.hero-gallery {
  justify-content: center;
  display: flex;
}

.hero-img {
  width: 1084px;
  height: 632px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.page-break {
  width: 100%;
  height: 300px;
  background: rgb(248,247,245);
  background: linear-gradient(180deg, rgba(248,247,245,1) 50%, rgba(255,255,255,1) 100%); 
}
.page-break-rad {
  border-radius: 2.625rem;
  width: 100%;
  height: 300px;
  background-color: #f6f7fc;
  
  
}

.hq-head {
text-align: center;
}

.hq-gallery {
  display: flex;
  justify-content: space-between;
  margin-left: 500px;
  margin-right: 500px;
}

.city-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fede3e;
}

.hq-link {
  color: #000000;
  text-decoration: underline #ffffff;
}


.form-padding {
  padding-top: 5px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 20px 150px;
  background-color: #fede3e;
}

.form-container-msg {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 20px 150px;
  background-color: #fede3e;
  border-radius: 20px;
}

.form-input{
  width: 500px;
  height:500px;
  padding: 20px 20px 10px 20px;
  background-color: #f6f7fc;
  border-radius: 20px;
}

.form-output{
  width: 500px;
  height: 300px;
  padding: 10px;
  background-color: #f6f7fc;
  border-radius: 20px;
}

.button{
  
    background-color: #000000; 
    border: none;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
 
}

.submit-button {
  background-color: #fede3e; 
  color: black; 
}

.submit-button:hover {
  background-color: #000000;
  color: #fede3e;
}

input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #fede3e;
  border-radius: 4px;
}
input[type=date] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #fede3e;
  border-radius: 4px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #fede3e;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.message-title{
  padding: 10px 50px 10px 50px;
  font-size: 30px;
}

.page-break2 {
  width: 100%;
  height: 600px;
}

/* Footer */
footer{
    color: #ffffff;
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .footer_above-row{
    display: flex;
    justify-content: space-between;
    padding: 0 250px 50px 50px;
  }
  .footer-logo {
    width: 150px;
    height: 150px;
    padding-top: 20px;
  }


  .footer_bottom-row{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
  }
  .footer_email-span {
    color: #ffffff;
    text-decoration: underline;
  }

  .footer-social{
    width: 20px;
    height: 20px;
    padding: 0 10px 0 10px;
    
  }

  .footer_logo-youtube{
    width: 30px;
    height: 30px;
  }





  /* Responsive */

  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      justify-content: center;
    }
    .header-nav {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .header-logo {
      margin: 10px;
    }

    .hero{
      padding: 5px;

    }
    .hero-img {
      width: 271px;
      height: 158px;
    }
    .page-padding {
      padding: 0 10px 0 10px;
    }
    .page-break {
      width: 100%;
      height: 60px;
      background: rgb(248,247,245);
      background: linear-gradient(180deg, rgba(248,247,245,1) 50%, rgba(255,255,255,1) 100%); 
    }
    .page-break-rad {
      border-radius: 10px;
      width: 100%;
      height: 60px;
      background-color: #f6f7fc;
      
      
    }
    
    .hq-head {
    text-align: center;
    }
    
    .hq-gallery {
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
    }
    
    .city-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: #fede3e;
    }

    .form-container {
      flex-direction: column;
      justify-content: center;
      padding: 20px 10px 20px 10px;
      background-color: #fede3e;
    }

    .form-container-msg {
      flex-direction: column;
      justify-content: center;
      padding: 20px 10px 20px 10px;
      background-color: #fede3e;
    }
    
    
    .form-input{
      width: 300px;
      height:500px;
      padding: 10px;
      background-color: #f6f7fc;
      border-radius: 20px;
    }
    
    .form-output{
      margin-top: 20px;
      width: 300px;
      height: 300px;
      padding: 10px;
      background-color: #f6f7fc;
      border-radius: 20px;
    }

    footer{
      color: #ffffff;
      background-color: #333333;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    
    .footer_above-row{
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px 50px 10px;
    }
    .footer-logo {
      width: 75px;
      height: 75px;
      padding-top: 20px;
    }
  
  
    .footer_bottom-row{
      flex-direction: column;
      padding: 20px 10px 20px 10px;
    
    }

    .footer_bottom-center-column {
      padding: 10px 0 10px 0;
    }

   
    .footer-social{
      width: 20px;
      height: 20px;
      padding: 0 10px 0 10px;
      
    }
  
    .footer_logo-youtube{
      width: 30px;
      height: 30px;
    }

    .message-title{
      padding: 10px 10px 10px 10px;
      font-size: 20px;
    }

    .page-break2 {
      width: 100%;
      height: 100px;
    }
    
  }

